### Model Selection under different tsplib instances

The following table summarizes the performance of different models on various TSPLIB instances. Each model's effectiveness is evaluated based on the solution quality and computational time.

**Criteria**
- Runtime (seconds) : 60 percent
- Solution Quality (percentage of optimal) : 40 percent

**TSPlib instances**
- burma14
- bays29
- eil51
- berlin52

In [10]:
from Solver import Solver

##### Burma14

In [11]:
burma14 = Solver('burma14')
burma14.solve(20) # more iterations since it's a small instance

Loading TSP instance: burma14...
Best known cost: 3323
Starting TSP solving for 20 iterations...
Progress: 5% | Elapsed Time: 14.81s | ETA: 4.69 min
Progress: 10% | Elapsed Time: 12.64s | ETA: 3.79 min
Progress: 15% | Elapsed Time: 13.83s | ETA: 3.92 min
Progress: 20% | Elapsed Time: 13.26s | ETA: 3.54 min
Progress: 25% | Elapsed Time: 13.54s | ETA: 3.39 min
Progress: 30% | Elapsed Time: 12.98s | ETA: 3.03 min
Progress: 35% | Elapsed Time: 12.42s | ETA: 2.69 min
Progress: 40% | Elapsed Time: 13.80s | ETA: 2.76 min
Progress: 45% | Elapsed Time: 13.78s | ETA: 2.53 min
Progress: 50% | Elapsed Time: 12.85s | ETA: 2.14 min
Progress: 55% | Elapsed Time: 13.58s | ETA: 2.04 min
Progress: 60% | Elapsed Time: 13.51s | ETA: 1.80 min
Progress: 65% | Elapsed Time: 13.69s | ETA: 1.60 min
Progress: 70% | Elapsed Time: 14.07s | ETA: 1.41 min
Progress: 75% | Elapsed Time: 13.63s | ETA: 1.14 min
Progress: 80% | Elapsed Time: 14.23s | ETA: 0.95 min
Progress: 85% | Elapsed Time: 13.62s | ETA: 0.68 min
Progress: 90% | Elapsed Time: 13.60s | ETA: 0.45 min
Progress: 95% | Elapsed Time: 12.37s | ETA: 0.21 min
Progress: 100% | Elapsed Time: 13.41s | ETA: 0.00 min
All algorithms have been executed.

In [12]:
burma14.present_results()

         Avg Cost  Avg Runtime  Min Cost  Avg Rel Error  Min Rel Error
EHO       3323.00     0.198621    3323.0       0.000000            0.0
SAI       3323.00     2.388230    3323.0       0.000000            0.0
GA        3323.00     3.366438    3323.0       0.000000            0.0
ACO       3335.70     2.513630    3323.0       0.382185            0.0
PSO       3337.55     3.251269    3323.0       0.437857            0.0
HSFFPKO   3394.30     1.258100    3323.0       2.145652            0.0
SA        3486.65     0.006105    3323.0       4.924767            0.0
GWO       3515.75     0.499391    3323.0       5.800481            0.0

In [24]:
burma14.weighted_score(0.6)

            Score
EHO      0.034375
SA       0.339611
HSFFPKO  0.371512
SAI      0.425337
ACO      0.474083
GWO      0.488078
GA       0.600000
PSO      0.609631

#### Bays29

In [14]:
bays29 = Solver('bays29')
bays29.solve()

Loading TSP instance: bays29...
Best known cost: 2020
Starting TSP solving for 10 iterations...
Progress: 10% | Elapsed Time: 47.67s | ETA: 7.15 min
Progress: 20% | Elapsed Time: 42.33s | ETA: 5.64 min
Progress: 30% | Elapsed Time: 42.12s | ETA: 4.91 min
Progress: 40% | Elapsed Time: 43.09s | ETA: 4.31 min
Progress: 50% | Elapsed Time: 49.38s | ETA: 4.12 min
Progress: 60% | Elapsed Time: 43.35s | ETA: 2.89 min
Progress: 70% | Elapsed Time: 47.47s | ETA: 2.37 min
Progress: 80% | Elapsed Time: 46.92s | ETA: 1.56 min
Progress: 90% | Elapsed Time: 37.37s | ETA: 0.62 min
Progress: 100% | Elapsed Time: 42.30s | ETA: 0.00 min
All algorithms have been executed.

In [15]:
bays29.present_results()

         Avg Cost  Avg Runtime  Min Cost  Avg Rel Error  Min Rel Error
GA         2020.8    24.815681    2020.0       0.039604       0.000000
SAI        2026.0     2.520145    2020.0       0.297030       0.000000
ACO        2050.1     9.597780    2038.0       1.490099       0.891089
EHO        2101.1     0.297221    2034.0       4.014851       0.693069
PSO        2284.8     4.481548    2106.0      13.108911       4.257426
HSFFPKO    2436.6     1.476258    2126.0      20.623762       5.247525
SA         2937.8     0.008102    2413.0      45.435644      19.455446
GWO        2941.3     1.001843    2366.0      45.608911      17.128713

In [25]:
bays29.weighted_score(0.6)

            Score
EHO      0.041887
SAI      0.063016
HSFFPKO  0.216193
PSO      0.222916
ACO      0.244670
SA       0.398479
GWO      0.424035
GA       0.600000

#### Eil51

In [18]:
eils51 = Solver('eil51')
eils51.solve()

Loading TSP instance: eil51...
Best known cost: 426
Starting TSP solving for 10 iterations...
Progress: 10% | Elapsed Time: 171.42s | ETA: 25.71 min
Progress: 20% | Elapsed Time: 183.20s | ETA: 24.43 min
Progress: 30% | Elapsed Time: 174.46s | ETA: 20.35 min
Progress: 40% | Elapsed Time: 180.61s | ETA: 18.06 min
Progress: 50% | Elapsed Time: 198.90s | ETA: 16.58 min
Progress: 60% | Elapsed Time: 150.32s | ETA: 10.02 min
Progress: 70% | Elapsed Time: 175.48s | ETA: 8.77 min
Progress: 80% | Elapsed Time: 159.39s | ETA: 5.31 min
Progress: 90% | Elapsed Time: 157.31s | ETA: 2.62 min
Progress: 100% | Elapsed Time: 171.99s | ETA: 0.00 min
All algorithms have been executed.

In [19]:
eils51.present_results()

         Avg Cost  Avg Runtime  Min Cost  Avg Rel Error  Min Rel Error
GA          427.5   131.392675     426.0       0.352113       0.000000
SAI         436.7     2.516182     433.0       2.511737       1.643192
ACO         449.5    28.419527     443.0       5.516432       3.990610
EHO         510.5     0.459948     487.0      19.835681      14.319249
PSO         588.5     5.995013     524.0      38.145540      23.004695
HSFFPKO     921.0     1.807780     563.0     116.197183      32.159624
SA         1056.3     0.009867     970.0     147.957746     127.699531
GWO        1066.1     1.706099     676.0     150.258216      58.685446

In [26]:
eils51.weighted_score(0.6)

            Score
SAI      0.017208
EHO      0.054044
PSO      0.128179
ACO      0.143522
HSFFPKO  0.317324
SA       0.393862
GWO      0.407746
GA       0.600000

#### Berlin52

In [21]:
berlin52 = Solver('berlin52')
berlin52.solve()

Loading TSP instance: berlin52...
Best known cost: 7542
Starting TSP solving for 10 iterations...
Progress: 10% | Elapsed Time: 205.01s | ETA: 30.75 min
Progress: 20% | Elapsed Time: 202.76s | ETA: 27.03 min
Progress: 30% | Elapsed Time: 186.40s | ETA: 21.75 min
Progress: 40% | Elapsed Time: 189.01s | ETA: 18.90 min
Progress: 50% | Elapsed Time: 233.50s | ETA: 19.46 min
Progress: 60% | Elapsed Time: 278.95s | ETA: 18.60 min
Progress: 70% | Elapsed Time: 225.60s | ETA: 11.28 min
Progress: 80% | Elapsed Time: 183.51s | ETA: 6.12 min
Progress: 90% | Elapsed Time: 191.35s | ETA: 3.19 min
Progress: 100% | Elapsed Time: 245.76s | ETA: 0.00 min
All algorithms have been executed.

In [22]:
berlin52.present_results()

         Avg Cost  Avg Runtime  Min Cost  Avg Rel Error  Min Rel Error
GA         7542.5   171.051889    7542.0       0.006630       0.000000
ACO        7694.5    29.648500    7574.0       2.022010       0.424291
SAI        7870.3     2.666043    7542.0       4.352957       0.000000
EHO        9116.3     0.502790    8280.0      20.873774       9.785203
PSO       10648.1     6.670034    9870.0      41.184036      30.867144
SA        13898.2     0.012039   12567.0      84.277380      66.626889
HSFFPKO   15106.7     1.867667   11405.0     100.300981      51.219836
GWO       17442.5     1.764334   14465.0     131.271546      91.792628

In [29]:
berlin52.weighted_score(0.6)

            Score
SAI      0.022555
EHO      0.065309
ACO      0.110105
PSO      0.148835
SA       0.256796
HSFFPKO  0.312134
GWO      0.406147
GA       0.600000