#### Model Selection with Multicriteria Decision Making

Let $ S $ be the model selection function such that:
$$
S = w _{speed} ( NormRuntime ) + w _{accuracy} ( NormError )
$$

Where:
- $ w _{speed} $ and $ w _{accuracy} $ are the weights assigned to speed and accuracy respectively, with $ w _{speed} + w _{accuracy} = 1 $.
- $ NormRuntime $ is the normalized runtime of the algorithm.
- $ NormError $ is the normalized error of the algorithm.

The model with the lowest value of $ S $ is selected as the best model based on the specified weights.

60 percent weight to speed and 40 percent weight to accuracy.

In [ ]:
data = {
    'Algorithm': ['GA', 'SAI', 'ACO', 'EHO', 'PSO', 'SA', 'HSFFPKO', 'GWO'],
    'Avg Runtime': [169.523411, 2.592760, 29.054481, 0.501700, 6.616420, 0.011460, 1.842191, 1.812700],
    'Avg Rel Error': [0.000000, 2.338902, 2.364094, 23.068152, 42.204985, 85.070273, 110.666932, 164.936356]
}

import pandas as pd

df = pd.DataFrame(data)
df

  Algorithm  Avg Runtime  Avg Rel Error
0        GA   169.523411       0.000000
1       SAI     2.592760       2.338902
2       ACO    29.054481       2.364094
3       EHO     0.501700      23.068152
4       PSO     6.616420      42.204985
5        SA     0.011460      85.070273
6   HSFFPKO     1.842191     110.666932
7       GWO     1.812700     164.936356

In [ ]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df[['Norm Runtime', 'Norm Rel Error']] = scaler.fit_transform(df[['Avg Runtime', 'Avg Rel Error']])
df

  Algorithm  Avg Runtime  Avg Rel Error  Norm Runtime  Norm Rel Error
0        GA   169.523411       0.000000      1.000000        0.000000
1       SAI     2.592760       2.338902      0.015228        0.014181
2       ACO    29.054481       2.364094      0.171333        0.014333
3       EHO     0.501700      23.068152      0.002892        0.139861
4       PSO     6.616420      42.204985      0.038965        0.255886
5        SA     0.011460      85.070273      0.000000        0.515776
6   HSFFPKO     1.842191     110.666932      0.010800        0.670967
7       GWO     1.812700     164.936356      0.010626        1.000000

In [ ]:
w_speed = 0.7
w_accuracy = 1 - w_speed

# Weighted Sum Model
df['Score'] = (w_speed * (df['Norm Runtime'])) + (w_accuracy * (df['Norm Rel Error']))

df = df.sort_values(by='Score')
df[['Algorithm', 'Score']]

  Algorithm     Score
1       SAI  0.014704
3       EHO  0.071376
2       ACO  0.092833
4       PSO  0.147426
5        SA  0.257888
6   HSFFPKO  0.340884
0        GA  0.500000
7       GWO  0.505313