In [1]:
from Solver import Solver

test = Solver('burma14')

Shape: (10, 10)
Sample: [ 0. 20. 13. 21. 16.]...

In [2]:
test.solve(5)

Loading TSP instance: burma14...
Starting TSP solving for 5 iterations...
Iteration: 1 / 5 | Elapsed Time: 14.10s | ETA: 0.94 min
Iteration: 2 / 5 | Elapsed Time: 14.18s | ETA: 0.71 min
Iteration: 3 / 5 | Elapsed Time: 14.68s | ETA: 0.49 min
Iteration: 4 / 5 | Elapsed Time: 13.98s | ETA: 0.23 min
Iteration: 5 / 5 | Elapsed Time: 15.68s | ETA: 0.00 min
All algorithms have been executed.

In [3]:
test.present_results()

         Avg Cost  Avg Runtime  Min Cost  Avg Rel Error  Min Rel Error
EHO        3323.0     0.210032    3323.0       0.000000       0.000000
SAI        3323.0     2.603532    3323.0       0.000000       0.000000
GA         3323.0     3.475161    3323.0       0.000000       0.000000
PSO        3327.6     3.549944    3323.0       0.138429       0.000000
ACO        3333.4     2.805234    3323.0       0.312970       0.000000
HSFFPKO    3398.0     1.334014    3323.0       2.256997       0.000000
SA         3433.0     0.007263    3381.0       3.310262       1.745411
GWO        3510.2     0.540235    3323.0       5.633464       0.000000

In [4]:
test.weighted_score(0.5)

            Score
EHO      0.028618
SA       0.293803
SAI      0.366427
HSFFPKO  0.387573
ACO      0.422672
GA       0.489445
PSO      0.512286
GWO      0.575222